---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import MainLayout from "@/layouts/Main.astro";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="w-full flex flex-col justify-center items-center">
		See this later :)
	</div>
</MainLayout>
