---
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Now from "../components/Now.astro";
import Blog from "../components/Blog.astro";
import Projects from "../components/Projects.astro";
import TimeZone from "../components/TimeZone.astro";
---

<main class="container text-slate-800 dark:text-slate-200">
  <div class="flex flex-col gap-1 w-full justify-center items-center">
    <Hero />

    <div class="w-full p-2">
      <div class="grid grid-cols-2 gap-3 w-full">
        <TimeZone />
        <Now />
      </div>
    </div>

    <Projects />
    <Blog />
    <Contact />
  </div>
</main>
