---
import Hero from "@/components/Hero.astro";
import Skills from "@/components/Skills.astro";
import { skills } from "@/data/skills";
import ArrowSeparator from "@/components/ui/astro/ArrowSeparator.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

import MainLayout from "@/layouts/Main.astro";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="w-full flex flex-col justify-center items-center p-2">
    <Hero
      title="Hey ! I'm Malek Brahim."
      subtitle="Software Engineer who loves to build things for the web. I'm passionate about creating elegant solutions and exploring new technologies. Currently working on exciting projects while remaining open to new opportunities."
      showCTA
      primaryCTA={{ text: "View Projects", href: "/projects" }}
      secondaryCTA={{ text: "Read Blog", href: "/blog" }}
    />
    <ArrowSeparator class="animate-[bounce_1.5s_ease-in-out_infinite]" />
    <Skills
      title="Skills & Tools"
      subtitle="Here are some of the technologies I've been working with"
      skills={skills}
    />
  </div>
</MainLayout>
