---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="w-full p-2">
  <Card>
    <CardHeader className="flex flex-col gap-1 justify-center items-center">
      <CardTitle>
        <h1 class="text-4xl font-bold">About me</h1>
      </CardTitle>
    </CardHeader>
    <CardContent className="flex flex-wrap justify-center items-center">
      posts list here
    </CardContent>
  </Card>
</div>
