---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="w-full p-2">
  <Card>
    <CardHeader>
      <CardTitle>
        <h1 class="text-3xl font-bold">Blog</h1>
      </CardTitle>
    </CardHeader>
    <CardContent className="text-2xl">
      I'm taking break from blogging, I am focusing on building something
      amazing.
    </CardContent>
  </Card>
</div>
