---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="w-full p-2">
  <Card>
    <CardHeader>
      <CardTitle>
        <h1 class="text-3xl font-bold">Let's start working together!</h1>
      </CardTitle>
    </CardHeader>
    <CardContent className="text-3xl">
      DM via
      <a
        class="text-2xl text-blue-500 underline"
        href="https://www.linkedin.com/in/megabytee/"
        target="_blank">Linkedin.</a
      >
    </CardContent>
  </Card>
</div>
