---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
---

<Card>
  <CardHeader className="flex flex-row justify-between items-center">
    <CardTitle>
      <h1 class="text-3xl font-bold">Now</h1>
    </CardTitle>
    <span class="relative flex h-4 w-4">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
      ></span>
      <span class="relative inline-flex rounded-full h-4 w-4 bg-red-700"></span>
    </span>
  </CardHeader>
  <CardContent className="text-2xl">
    Currently working as freelancer.
  </CardContent>
</Card>
