---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="w-full p-2">
  <Card>
    <CardHeader>
      <CardTitle>
        <h1 class="text-3xl font-bold">Projects</h1>
      </CardTitle>
    </CardHeader>
    <CardContent>
      Check this later do you will see awesome projects ref here.
    </CardContent>
  </Card>
</div>
